# Placed by confd. Do not hand edit.
{{ $host_ip := }}
network.host: {{getv "/self/container/primary_ip"}}

bootstrap.mlockall: true
discovery.zen.ping.multicast.enabled: false

{{ $cluster := getenv "ES_CLUSTER_NAME" -}}
{{ if $cluster -}}
discovery.zen.ping.unicast.hosts: {{ range ls "/self/service/containers" }}
{{ if ne . "self" -}}
{{ $health := getv (printf "/self/service/containers/%s/health_state" . ) -}}
{{ $primary_ip := getv (printf "/self/service/containers/%s/primary_ip" .) -}}
{{ if and (eq $health "healthy") (ne $host_ip $primary_ip) }}  - {{ $primary_ip }}{{end -}}
{{end -}}
{{end -}}
{{end}}
