# Placed by confd. Do not hand edit.
{{ $host_ip := getv "/self/container/primary_ip"}}
network.host: {{ $host_ip }}

bootstrap.mlockall: true

{{ $cluster := getenv "ES_CLUSTER_NAME" -}}
{{ if $cluster -}}
discovery.zen.ping.unicast.hosts: {{ range ls "/self/service/containers" }}
{{ if ne . "self" -}}{{ $primary_ip := getv (printf "/self/service/containers/%s/primary_ip" .) -}}  - {{ $primary_ip }}{{end -}}
{{end -}}
{{end -}}
{{end}}
